<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancoder.redash.dao.mapper.AccessPermissionMapper">
    
    <resultMap id="baseResultMap" type="com.dancoder.redash.dao.entity.AccessPermissionDO">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="grantor_id" property="grantorId" jdbcType="INTEGER"></result>
        <result column="grantee_id" property="granteeId" jdbcType="INTEGER"></result>
        <result column="object_id" property="objectId" jdbcType="INTEGER"></result>
        <result column="object_type" property="objectType" jdbcType="VARCHAR"></result>
        <result column="access_type" property="accessType" jdbcType="VARCHAR"></result>
    </resultMap>


</mapper>