<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancoder.redash.dao.mapper.DataSourceMapper">
    <resultMap id="baseResultMap" type="com.dancoder.redash.dao.dataobject.DataSourceDO">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="org_id" property="orgId" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="type" property="type" jdbcType="VARCHAR"></result>
        <result column="options" property="options"
                typeHandler="com.dancoder.redash.framework.handle.mybatis.JSONTypeHandler"></result>
        <result column="queue_name" property="queueName" jdbcType="VARCHAR"></result>
        <result column="scheduled_queue_name" property="scheduledQueueName" jdbcType="VARCHAR"></result>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"></result>
    </resultMap>
    
    <select id="findDataSourcesByCondition" parameterType="long" resultMap="baseResultMap">
       select t1.*,t2.view_only
       from data_sources t1
       left JOIN data_source_groups t2 on t1.id = t2.data_source_id WHERE t2.group_id= #{groupId}
    </select>
</mapper>