<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancoder.redash.dao.mapper.GroupMapper">
    <resultMap id="baseResultMap" type="com.dancoder.redash.dao.dataobject.GroupDO">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="org_id" property="orgId" jdbcType="INTEGER"></result>
        <result column="type" property="type" jdbcType="VARCHAR"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="permissions" property="permissions" jdbcType="VARCHAR"></result>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"></result>
    </resultMap>
</mapper>