<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancoder.redash.dao.mapper.OrganizationMapper">
    <resultMap id="baseResultMap" type="com.dancoder.redash.dao.entity.OrganizationDO">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="slug" property="slug" jdbcType="VARCHAR"></result>
        <result column="settings" property="settings" jdbcType="VARCHAR"></result>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"></result>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"></result>
    </resultMap>
</mapper>