<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancoder.redash.dao.mapper.QueryMapper">
    <resultMap id="baseResultMap" type="com.dancoder.redash.dao.dataobject.QueryDO">
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"></result>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"></result>
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="version" property="version" jdbcType="INTEGER"></result>
        <result column="org_id" property="orgId" jdbcType="INTEGER"></result>
        <result column="data_source_id" property="dataSourceId" jdbcType="INTEGER"></result>
        <result column="latest_query_data_id" property="latestQueryDataId" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="query" property="query" jdbcType="VARCHAR"></result>
        <result column="query_hash" property="queryHash" jdbcType="VARCHAR"></result>
        <result column="api_key" property="apiKey" jdbcType="VARCHAR"></result>
        <result column="user_id" property="userId" jdbcType="INTEGER"></result>
        <result column="last_modified_by_id" property="lastModifiedById" jdbcType="INTEGER"></result>
        <result column="is_archived" property="isArchived" jdbcType="BOOLEAN"></result>
        <result column="is_draft" property="isDraft" jdbcType="BOOLEAN"></result>
        <result column="schedule" property="schedule" jdbcType="VARCHAR"></result>
        <result column="schedule_failures" property="scheduleFailures" jdbcType="INTEGER"></result>
        <result column="options" property="options" jdbcType="VARCHAR"></result>
        <result column="search_vector" property="searchVector" jdbcType="VARCHAR"></result>
        <result column="tags" property="tags" jdbcType="VARCHAR"></result>
    </resultMap>
</mapper>