<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancoder.redash.dao.mapper.WidgetMapper">
    <resultMap id="baseResultMap" type="com.dancoder.redash.dao.dataobject.WidgetDO">
        <result column="id" property="id" jdbcType="INTEGER"></result>
        <result column="visualization_id" property="visualizationId" jdbcType="INTEGER"></result>
        <result column="width" property="width" jdbcType="INTEGER"></result>
        <result column="dashboard_id" property="dashboardId" jdbcType="INTEGER"></result>
        <result column="text" property="text" jdbcType="VARCHAR"></result>
        <result column="options" property="options" jdbcType="VARCHAR"></result>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"></result>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"></result>
    </resultMap>
</mapper>
